int cores = (int)get_p(params,'maxCpus')
nextflow.util.MemoryUnit mem = get_p(params,'maxMemory') as nextflow.util.MemoryUnit
nextflow.util.Duration d = get_p(params,'maxTime') as nextflow.util.Duration
insect = get_p(params,"insect")
blast = get_p(params,"blast")
demux = get_p(params,"demultiplexedBy") == "index"
split = get_p(params,"split")


/*
 * general process options (mainly which labels go with which docker/singulariy images)
 * but also the base resource usage settings
*/
process {
  withLabel: 'fastqc'         { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0 ' }
  withLabel: 'adapterRemoval' { container = 'quay.io/biocontainers/adapterremoval:2.3.4--pl5321haf24da9_1' }
  withLabel: 'obitools'       { container = 'quay.io/biocontainers/obitools:1.2.13--py27heb79e2c_3' }
  withLabel: 'r'              { container = 'fishbotherer/r-tools:latest' }
  withLabel: 'shell'          { container = 'quay.io/nextflow/bash:latest' }
  withLabel: 'multiqc'        { container = 'quay.io/biocontainers/multiqc:1.27.1--pyhdfd78af_0'}

  withLabel: 'denoiser' {
    if (params.execDenoiser)
      container = ''
    else if (params.denoiser == "vsearch") {
      container = 'quay.io/biocontainers/vsearch:2.30.0--hd6d6fdc_0'
    } else if (params.denoiser in ['usearch','usearch32']) {
      container = 'quay.io/biocontainers/usearch:12.0_beta--h9ee0642_1'
    }
  }

  // these labels control various aspects of resource allocation
  withLabel:process_single {
    cpus   = { 1           }
    memory = { 6.GB * task.attempt }
    // time   = { 4.h  * task.attempt }
  }
  withLabel:process_low {
    cpus   = { 2   * task.attempt }
    memory = { 12.GB * task.attempt }
    // time   = { 4.h   * task.attempt }
  }
  withLabel:process_lowish {
    cpus   = { 4   * task.attempt }
    memory = { 12.GB * task.attempt }
    // time   = { 4.h   * task.attempt }
  }
  withLabel:process_medium {
    cpus   = { 6   * task.attempt }
    memory = { 36.GB * task.attempt }
    // time   = { 8.h   * task.attempt }
  }
  withLabel:process_high {
    cpus   = { 12  * task.attempt }
    memory = { 72.GB * task.attempt }
    // time   = { 16.h  * task.attempt }
  }
  withLabel:process_more_memory {
    memory = { 10.GB * task.attempt }
  }
  withLabel:process_high_memory {
    memory = { 200.GB * task.attempt }
  }
  withLabel:error_ignore {
    errorStrategy = 'ignore'
  }
  withLabel:error_retry {
    errorStrategy = 'retry'
    maxRetries  = 2
  }

//  // allocate cpus to AdapterRemoval
// 	withLabel: 'demux_cpus' {
//     if (get_p(params,'demultiplexedBy') == 'barcode' ) {
//       cpus = cores > 1 ? cores-1 : cores
//     } else {
//       cpus = 4 * task.attempt
//     }
//   }

  // allow all cpus
	withLabel: 'all_cpus' { cpus = { cores } }

  // allocate blast cpus
  withLabel: 'blast' {
    // cpus = { params.insect ? cores / 2 : cores }
    // memory = { params.insect ? mem / 2 : mem }
    container = 'ncbi/blast:latest'
  }

  // alloacte insect cpus
  withLabel: 'insect' {
    // cpus = { params.blast ? cores / 2 : cores }
    // memory = { params.blast ? mem / 2 : mem }
    container = 'fishbotherer/r-tools:latest'
  }

  cache = 'lenient'

  // set default cpus and memory
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }
}
